 // Bourbon & Neat

@import '../../bower_components/bourbon/dist/bourbon';
@import "../../base/base";
@import '../../bower_components/neat/app/assets/stylesheets/neat';


// Custom Styles
body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}//end body

.container {
  @include outer-container;
  $mobile: new-breakpoint(max-width 500px 4);
  max-width: 1500px;
  width: 100%;
  margin: 0px;

nav {
  @include span-columns(12);
  height: 100px;
  border: 1px solid black;
  background-color: red;

  button {
    margin-left: 2%;
  }//end button
}//end nav

.enterSite {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(3);
  }//end media(mobile)
  position: relative;
  margin-top: 100px;
  margin-left: 35%;
  height: 100px;
  background-color: yellow;
  z-index: 2;
}//end enterSite

.sidebar{
  #updateInfo {
    @include span-columns(2.5);
    @include media($mobile) {
      @include span-columns(3);
    }//end media(mobile)
    border: 1px solid black;
    margin-top: 25px;
    margin-left: 3%;
    background-color: red;
  }//end updateInfo
}//end sidebar

.main {
  @include span-columns(8.5);
  @include media($mobile) {
    @include span-columns(3);
  }//end media(mobile)
  border: 1px solid black;
  margin-top: 25px;
  margin-left: 3%;
  background-color: red;
  z-index: 1;

  #listInfo {
    @include span-columns(3);
    @include media($mobile) {
      @include span-columns(3);
    }//end media(mobile)
    border: 1px solid black;
    margin-top: 25px;
    margin-left: 3%;
  }//end listInfo

  #myKidsOnly {
    @include span-columns(8);
    @include media($mobile) {
      @include span-columns(8);
    }//end media(mobile)
    height: 300px;
    margin-top: 25px;
    margin-left: 3%;

    .kidShown{
      @include span-columns(4);
      @include omega(2n);
        @include media($mobile) {
        @include span-columns(3);
        }//end media(mobile)
      float: left;
      width: 45%;
      margin-right: 3%;
      margin-bottom: 10px;
      border: 1px solid black;
    }//end kidShown

    .eventShown {
      @include span-columns(4);
      @include omega(2n);
      @include media($mobile) {
        @include span-columns(3);
      }//end media(mobile)
      float: left;
      width: 45%;
      margin-right: 3%;
      margin-bottom: 10px;
      border: 1px solid black;    
    }//end eventShown
  }//end myKidsOnly
}//end main
}//end container
