 // Bourbon & Neat

@import '../../bower_components/bourbon/dist/bourbon';
@import "../../base/base";
@import '../../bower_components/neat/app/assets/stylesheets/neat';


// Custom Styles
body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  @include outer-container;
  $mobile: new-breakpoint(max-width 500px 4);
  max-width: 1500px;
  width: 100%;
  margin: 0px;

nav {
  @include span-columns(12);
  height: 100px;
  border: 1px solid black;
  background-color: red;
}

.sidebar{
  #updateInfo {
    @include span-columns(2.5);
    @include media($mobile) {
      @include span-columns(3);
    }
    border: 1px solid black;
    margin-top: 25px;
    margin-left: 3%;
    background-color: red;
  }
}

.main {
  @include span-columns(8.5);
  @include media($mobile) {
    @include span-columns(3);
  }
  border: 1px solid black;
  margin-top: 25px;
  margin-left: 3%;
  background-color: red;

  #listInfo {
    @include span-columns(3);
    @include media($mobile) {
      @include span-columns(3);
    }
    border: 1px solid black;
    margin-top: 25px;
    margin-left: 3%;
   }

  #myKidsOnly {
    @include span-columns(3);
    @include media($mobile) {
      @include span-columns(3);
    }
    height: 300px;
    border: 1px solid black;
    margin-top: 25px;
    margin-left: 3%;
  }
 }
}
