 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import "../../base/base";
@import '../../bower_components/neat/app/assets/stylesheets/neat';


//Sass for slide menu
$sliding-menu-border-color: $dark-gray;
$sliding-menu-background: lighten($sliding-menu-border-color, 5);
$sliding-menu-color: #fff;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $base-accent-color;
$sliding-menu-color-hover: #fff;


// Custom Styles
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  list-style-type: none;
  background: url('../images/dandelion.jpg')no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}//end body

.container {
  @include outer-container;
  $mobile: new-breakpoint(max-width 400px 4);
  $medium: new-breakpoint(max-width 700px 4);
  max-width: 1600px;
  width: 100%;
  margin: 0px;

.mainNav {
  @include span-columns(12);
  position: fixed;
  min-height: 50px;
  max-height: 60px;
  border: 1px solid black;
  background-color: white;
  z-index: 9999999;

  .navLeft {
    @include span-columns(3);
    @include media($mobile) {
      @include span-columns(4);
    }//end media(mobile)
    float: left;
    margin-left: 2%;
    margin-top: 1%;

    //slider
    .sliding-menu-button {
      display: inline-block;
      min-width: 20px;
      padding: 6px;
      cursor: pointer;
      font-size: $base-font-size;
      margin-bottom: $base-line-height;
      position: relative;
      outline: none;

      img {
        height: 20px;
      }
    }

    .sliding-menu-content {
      @include position(fixed, 58px auto 0px 0px);
      @include size(230px 100%);
      @include transform(translateX(-220px));
      @include transition(all .25s linear);
      background: $sliding-menu-background;
      z-index: 999998;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      ul li a {
        border-bottom: $sliding-menu-border;
        color: $sliding-menu-color;
        display: block;
        font-weight: bold;
        padding: 1em;
        z-index: 999999;

        &:hover {
          background-color: $sliding-menu-background-hover;
          color: $sliding-menu-color-hover;
        }
      }

      &.is-visible {
        @include transform(translateX(0));
      }
    }

  }//end .navLeft

  h3 {
    @include span-columns(4.5);
    @include media($mobile) {
      @include span-columns(3);
    }//end media(mobile)
    text-align: center;
    padding-left: 3%;
    color: HSLA(215, 55%, 54%, 1);
  }//end h3

  .navRght {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(3);
    }//end media(mobile)
    float: right;
    padding-left: 5%;
    margin-top: 1%;

    span {
      margin-right: 2%;
    }

    button {
      min-width:60px;
      text-align: center;
      font-size:12px;
      word-wrap:break-word;
      padding-left: 3px;
      padding-right: 3px;
    }//end button
  }//end .navRght
}//end nav

.menu-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: $sliding-menu-border-color;
  opacity: 0;
  visibility: hidden;
  z-index: 900000;

  &.is-visible {
    opacity: .4;
    visibility: visible;
  }
}

.enterSite {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(3);
  }//end media(mobile)
  position: relative;
  margin-top: 100px;
  margin-left: 35%;
  min-height: 100px;
  //background-color: white;
  z-index: 2;

//solo Kid view
  .oneKid{
    @include span-columns(9 of 12);
    @include media($mobile) {
      @include span-columns(4);
    }//end media(mobile)
    min-width: 200px;
    border: 1px solid black;
    margin-left: 13%;
    background-color: white;

      .kidOneShow {
        height: 60px;
        background-color: grey;
        margin-top: 10px;
        border-top: 2px solid blue;
        border-bottom: 2px solid blue;

        img {
          margin-left: 30%;
          width: 35%;
          height: 56px;
          max-width: 70px;
        }
      }

      #backItUp {
        float: right;
      }
  }
}//end enterSite

.sidebar{
  #updateInfo {
    @include span-columns(2.5);
    @include media($mobile) {
      @include span-columns(3);
    }//end media(mobile)
  //  border: 1px solid white;
    margin-top: 100px;
    margin-left: 3%;
    color: black;

    h3 {
      color: white;
    }

    //event for kids to be added to
    .oneEventShown {
      min-height: 200px;
      background-color: white;
      color: grey;

      h4 {
        text-align: center;
      }

      img {
        width: 43%;
        height: 80px;
        max-width: 90px;
        margin-top: 10px;
        margin-left: 6px;
      }

    }//end .oneEventShown

    //recieved message styling
    .MessageList {
      background-color: transparent;

      .talk {
        margin-bottom: 10px;
        background-color: white;
        color: grey;

        h4{
          border: 1px solid white;
          color: white;
          background-color: HSLA(215, 55%, 54%, 1);
          margin-bottom: 7px;
        }

        #hideMsg {
          min-width:50px;
          text-align: center;
          font-size:12px;
          word-wrap:break-word;
          margin-top: 5px;
          margin-left: 73%;
          margin-bottom: 3px;
          padding-left: 3px;
          padding-right: 3px;
        }
      }
    }//end .MessageList

  }//end updateInfo
}//end sidebar

.main {
  @include span-columns(8.5);
  @include media($mobile) {
    @include span-columns(3);
  }//end media(mobile)
  border: 1px solid black;
  margin-top: 100px;
  margin-left: 3%;
  z-index: 1;

  #listInfo {
    @include span-columns(3);
    @include media($mobile) {
      @include span-columns(3);
    }//end media(mobile)
    border: 1px solid black;
    margin-top: 25px;
    margin-left: 3%;
  }//end listInfo

  #myKidsOnly {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(6);
    }//end media(mobile)
    margin-top: 25px;
    margin-left: 3%;

      .showMyKids {
        @include span-columns(4);
        @include omega(3n);
          @include media($mobile) {
          @include span-columns(3);
         }//end media(mobile)
           width: 35%;
           max-width: 170px;
           min-height: 180px;
           margin-left: 5%;
           margin-right: 1.8%;
           margin-bottom: 20px;
           border: 1px solid black;
           text-align: center;
           background-color: white;

           img {
             width: 60%;
             height: 90px;
             max-width: 90px;
             margin-top: 10px;
           }

           h5{
             color:white;
             background-color: grey;
             border-top: 1px solid blue;
             border-bottom: 1px solid blue;
             margin-bottom: 3px;
           }

           button {
             min-width:50px;
             text-align: center;
             font-size:12px;
             word-wrap:break-word;
             margin-top: 5px;
             padding-left: 3px;
             padding-right: 3px;
             color: white;
           }//end button
      }//end ShowMyKids


    .eventShown {
      @include span-columns(4);
      @include omega(3n);
      @include media($mobile) {
        @include span-columns(3);
      }//end media(mobile)
      width: 35%;
      max-width: 170px;
      min-height: 160px;
      margin-left: 5%;
      margin-right: 1.8%;
      margin-bottom: 20px;
      border: 1px solid black;
      background-color: white;

      h5{
        border-top: 1px solid blue;
        border-bottom: 1px solid blue;
        margin-top: 10px;
        margin-bottom: 3px;
        text-align: center;
        color:white;
        background-color: grey;
      }

      strong {
        margin-left: 1%;
      }
      p{
        margin-left: 2%;
      }

      img {
        width: 43%;
        height: 75px;
        max-width: 75px;
        margin-top: 10px;
        margin-left: 6px;
      }

      .toggle {
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: white;
      }

      .buttons {
        float: right;
        min-width: 60px;
        text-align: center;
        font-size: 12px;
        word-wrap: break-word;
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 10px;
        margin-right: 1%;
        margin-bottom: 3px;
        color: white;
      }//end bottom buttons

    }//end eventShown

  }//end myKidsOnly
}//end main
}//end container
