<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Final</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">
      <!-- navigation bar -->
      <nav>
        <div class="navLeft">
          <a href="#/start"><button id="logOut">Logout</button></a>
          <span id="loggedIn"></span>
        </div>
        <h3>Safety Net</h3>
        <div class="navRght">
          <a href="#/mykids"><button id="myKidsBtn">My Kids</button></a>
          <a href="#/event"><button id="eventBtn">Events</button></a>
          <a href="#/"><button id="homeBtn">Home</button></a>
        </div>
      </nav>

      <!-- sidebar- messages, update user profile, update events,  update groups, usefull links -->
      <div class="sidebar">
        <div id="updateInfo"></div>
      </div>

      <div class="enterSite">
        <div id="log_signup"></div>
        <div id="profiler"></div>
      </div>

      <!-- main-  -->
      <div class="main">
        <div id="myKidsOnly">
        </div>
      </div>
    </div>

    <!-- Templates for Views -->

    <!-- Login Script -->
    <script type='text/template' id='userLogin'>
      <h3>Login</h3>
        <form id='loginForm'>
          <input id='username' type='text' placeholder='Please Enter User Name'/>
          <input id='password' type='password' placeholder='Please Enter Password'/>
            <button id="loginBtn">Enter</button>
        </form>
    </script>

    <!-- Sign Up Script -->
    <script type='text/template' id='userSignup'>
      <h3>Signup</h3>
        <form id='userForm'>
          <input id='newusername' type='text' placeholder = 'Enter a User Name'/>
          <input id='newpassword' type='password' placeholder = 'Enter a Password'/>
          <input id='confirmpword' type='password' placeholder = 'Confirm Password'/>
          <input id='uEmail' type='email' placeholder='Email'/>
    <!--      <input id='ufirstName' type='text' placeholder='First Name'/>
          <input id='ulastName' type='text' placeholder='Last Name'/>
          <input id='uAddress1' type='text' placeholder='Address'/>
          <input id='uAddress2' type='text' placeholder='Address'/>
          <input id='uPhone' type='text' placeholder='Phone'/>
          <input id='uImage' type='file' placeholder=''/> -->
            <button id="signUpBtn">Create New User</button>
        </form>
    </script>


    <!-- Template to Edit User -->
    <script type="text/template" id="editedUser">
      <h3>Edit My Profile</h3>
        <div class="updateUser" id="<%= objectId %>">
          <form id="FormEditUser">
            <input id='update_username' type='text' value="<%= username %>"/>
            <input id='update_email' type='text' value="<%= email %>"/>
              <button id="editUser">Update!</button>
          </form>
        </div>
    </script>

     <!-- Template for Add Kid Profile -->
     <script type='text/template' id='kidInfo'>
      <h3>My Kid Info</h3>
        <div class="kidProfile" id="<%= objectId %>">
          <form id="myKidInfo">
            <input id='kImage' type='file'/>
            <input id='kfirstName' type='text' placeholder='First Name'/>
            <input id='klastName' type='text' placeholder='Last Name'/>
            <input id='birthdate' type='date' placeholder="Birthday"/>
            <input id='kAddress1' type='text' placeholder='Address'/>
            <input id='kAddress2' type='text' placeholder='Address'/>
            <input id='Emergency1' type='text' placeholder='Contact 1 Name'/>
            <input id='Emergency1Phone' type='text' placeholder='Contact 1 Phone'/>
            <input id='Emergency2' type='text' placeholder='Contact 2 Name'/>
            <input id='Emergency2Phone' type='text' placeholder='Contact 2 Phone'/>
            <input id='doctor' type='text' placeholder='Primary Care Physician'/>
              <select id="medical">
                <option value= ''>Please Select Category</option>
                <option value='Allergy'>Allergy</option>
                <option value='Dietary Restriction'>Dietary Restriction</option>
                <option value='Medical Condition'>Medical Condition</option>
                <option value='Medication'>Medications</option>
              </select>
            <textarea id='notes' type='text' placeholder='General Notes'></textarea>
              <button id='addMyKid'>Add</button>
          </div>
     </script>

     <!-- Template for Listing "My Kids" -->
     <script type="text/template" id="listMyKids">
      <li class="showMyKids" id="<%= objectId %>">
              <a href="#/kidSingle/<%= objectId %>"><img id='profilePic' src= "<%= image.url %>" alt="Smiley face"/>
              <h5><%= firstName %> <%= lastName %> </h5></a>
                <a href="#/editKid/<%= objectId %>"><button id="updateButton">Edit</button></a>
                <a href="#/share/<%= objectId %>"><button id="shareInfo">Share</button></a>
                <button class="addKidBtn" id="<%= objectId %>" data-img="<%= image.url %>">Add</button>
       </li>
  <!--     </div>  -->
      </script>

      <!-- Template for Showing One Kid Info -->
      <script type="text/template" id="solokiddy">
        <div class= "oneKid">
          <li class="showOneKid" id="<%= objectId %>">
            <div class="kidOneShow">
              <img id='profilePic' src= "<%= image.url %>" alt="Smiley face"/>
            </div>
              <h5><%= firstName %> <%= lastName %> </h5>
                <strong>Date of Birth</strong>
                <li><%= birthdate %></li>
                <strong>Address</strong>
                <li><%= address1 %></li>
                <li><%= address2 %></li>
                <strong>Emergency Contact</strong>
                <li><%= ec1Name %></li>
                <li><%= ec1Phone %></li>
                <strong>Emergency Contact</strong>
                <li><%= ec2Name %></li>
                <li><%= ec2Phone %></li>
                <strong>Doctor</strong>
                <li><%= doctor %></li>
                <strong>Medical Concerns</strong>
                <li><%= medical %></li>
                <li><%= notes %></li>
                <button id="backItUp">x</button>
          </li>
        </div>
      </script>

      <!-- Template to Edit KidProfile -->
      <script type="text/template" id="editedKid">
        <h3>Edit Kid</h3>
          <div class="updateKid" id="<%= objectId %>">
            <form id="FormEditKid">
              <input id='update_kfirstName' type='text' value='<%= firstName %>'/>
              <input id='update_klastName' type='text' value='<%= lastName %>'/>
              <input id='update_birthdate' type='date' value="<%= birthdate %>"/>
              <input id='update_kAddress1' type='text' value='<%= address1 %>'/>
              <input id='update_kAddress2' type='text' va;ue='<%= address2 %>'/>
              <input id='update_Emergency1' type='text' value='<%= ec1Name %>'/>
              <input id='update_Emergency1Phone' type='text' value='<%= ec1Phone %>'/>
              <input id='update_Emergency2' type='text' value='<%= ec2Name %>'/>
              <input id='update_Emergency2Phone' type='text' value='<%= ec2Phone %>'/>
              <input id='update_doctor' type='text' value='<%= doctor %>'/>
                <select id="update_medical" value='<%= medical %>'>
                  <option value= '<%= medical %>'><%= medical %></option>
                  <option value='Allergy'>Allergy</option>
                  <option value='Dietary Restriction'>Dietary Restriction</option>
                  <option value='Medical Condition'>Medical Condition</option>
                  <option value='Medication'>Medications</option>
                </select>
              <textarea id='update_notes' type='text'><%= notes %></textarea>
                <button id="kidEditor">Edit It!</button>
                <button id="kidDelete">Delete</button>
            </form>
          </div>
      </script>

      <!-- Template to Add Event  -->
      <script type='text/template' id='eventInfo'>
        <h3>Event</h3>
          <div class="eventProfile" id="<%= objectId %>">
            <form id='eventForm'>
              <input id='eventName' type='text' placeholder='Event Name'/>
              <input id='eventDate' type='date' placeholder="Date"/>
              <input id='location' type='text' placeholder="Address"/>
              <input id='location2' type='text' placeholder="Address"/>
                <button id="createEvent">Enter</button>
            </form>
          </div>
      </script>

      <!-- Template to Edit Event -->
      <script type="text/template" id="editedEvent">
        <h3>Edit Event</h3>
          <div class="updateEvent" id="<%= objectId %>">
            <form id="FormEditEvent">
              <input id='update_event_name' type='text' value="<%= eventName %>"/>
              <input id='update_event_date' type='date' value="<%= eventDate %>"/>
              <input id='update_event_location' type='text' value="<%= location %>"/>
              <input id='update_event_location2' type='text' value="<%= location2 %>"/>
                <button id="editor">Edit It!</button>
                <button id="eventDelete">Delete</button>
            </form>
          </div>
      </script>

      <!-- Template to List My Events  -->
      <script type='text/template' id='listMyEvents'>
      <div class= "eventShown">
        <li class="showEvent" id="<%= objectId %>">
          <h5><%= eventName %></h5>
          <strong>Date</strong>
          <p><%= eventDate %></p>
          <strong>Location</strong>
          <li><%= location %></li>
          <li><%= location2 %></li>
          <button class="toggle">Invited</button>
            <div class="targeted">
              <ul id="added2">
                <% _.each(kids, function (k) { %>
                  <a href="#/kidSingle/<%= k.kid %>"><img src="<%= k.photo %>"></a>
                <% }); %>
              </ul>
            </div>
            <div class="buttons">
            <a href="#/editEvent/<%= objectId %>"> <button id="editEvent">Edit</button></a>
            <a href="#/addKids/<%= objectId %>"> <button id="kidAdder">Add Kids</button></a>
            </div>
        </li>
      </div>
      </script>

      <!-- Template to List One Event  -->
      <script type='text/template' id='oneEvent'>
        <div class= "oneEventShown">
          <li class="soloEvent" id="<%= objectId %>">
            <h4><%= eventName %></h4>
            <strong>Date</strong>
            <p><%= eventDate %></p>
            <strong>Location</strong>
            <li><%= location %></li>
            <li><%= location2 %></li>
              <ul id="addedKids">
                <% _.each(kids, function (k) { %>
                <a href="#/kidSingle/<%= k.kid %>"><img src="<%= k.photo %>"></a>
                <% }); %>
              </ul>
              </div>
          </li>
        </div>
      </script>

      <!-- Template for Sending Message  -->
      <script type='text/template' id='messagesTo'>
        <div class="chat" id="<%= objectId %>">
        <h4>Messenger</h4>
          <form id="messageForm">
            <input id='recipient' type='text' placeholder='To: '/>
            <input id='senderName' type='text' placeholder='From: '/>
            <textarea id='content' type='text' placeholder="Add a personal note"></textarea>
              <button id="sendMsg">Send</button>
            <div class="kidNFO"></div>
          </form>
        </div>
      </script>

      <!-- Template for Getting Message  -->
      <script type='text/template' id='messagesFrom'>
        <div class="talk">
          <h4>Message</h4>
            <h5>To: <%= recipientName %></h5>
            <p>Access to my child's health information.</p>
            <p><%= content %></p>
            <h5>From: <%= senderName %></h5>
            <button id="hideMsg">Delete</button>
        </div>
      </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Path to Parse CDN -->
    <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/setup.js"></script>
        <script src="scripts/models/myKidsProfile.js"></script>
        <script src="scripts/models/events.js"></script>
        <script src="scripts/models/messageModel.js"></script>
        <script src="scripts/collections/UserCollection.js"></script>
        <script src="scripts/collections/myKidsCollection.js"></script>
        <script src="scripts/collections/eventCollection.js"></script>
        <script src="scripts/collections/messageCollection.js"></script>
        <script src="scripts/views/signup.js"></script>
        <script src="scripts/views/editUser.js"></script>
        <script src="scripts/views/login.js"></script>
        <script src="scripts/views/myKidsView.js"></script>
        <script src="scripts/views/myKidsList.js"></script>
        <script src="scripts/views/soloKid.js"></script>
        <script src="scripts/views/editKid.js"></script>
        <script src="scripts/views/addEvent.js"></script>
        <script src="scripts/views/myAddedEvents.js"></script>
        <script src="scripts/views/editEvent.js"></script>
        <script src="scripts/views/addKid2Event.js"></script>
        <script src="scripts/views/senderMessageView.js"></script>
        <script src="scripts/views/messageList.js"></script>
        <script src="scripts/routes/approuter.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
